:root{
    --caixa-alta: "New Amsterdam", sans-serif;
    --cursiva: "Imperial Script", cursive;
    --fonte-padrao: "Questrial", sans-serif;

    --cor-sova: #9ca3db;
    --cor-yoru: #9b94d5;
    --cor-reyna: #55286f;
    --cor-vyse: #673c90;
    --cor-omen: #52489c;
    --cor-clove: #d8b4e2;
    --cor-jett: #f4ebd9;

    --cor-yoru-clove-2: #ffaeb1;
    --cor-omen-vyse-2: #6ba368;
}

.cambio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-omen);
    border-radius: 15px;
    width: 9rem;
    height: 2rem;
}

.cambioCLARO{
    background-color: var(--cor-omen);
}

.cambioESCURO{
    background-color: var(--cor-omen-vyse-2);
}

.h2Cambio{
    color: var(--cor-jett);
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 13px;
    color: var(--cor-jett);
    margin-left: 0.9rem;
    margin-right: 10px;
}

.selecionar{
    width: 4rem;
    height: 1.4rem;
    border-radius: 10px;
    margin-right: 2rem;
}

.selecionarCLARO{
    background-color: var(--cor-clove);
    
}

.selecionarESCURO{
    background-color: var(--cor-yoru-clove-2);

}