:root{
    --caixa-alta: "New Amsterdam", sans-serif;
    --cursiva: "Imperial Script", cursive;
    --fonte-padrao: "Questrial", sans-serif;

    --cor-sova: #9ca3db;
    --cor-yoru: #9b94d5;
    --cor-reyna: #55286f;
    --cor-vyse: #673c90;
    --cor-omen: #52489c;
    --cor-clove: #d8b4e2;
    --cor-jett: #f4ebd9;

    --cor-yoru-clove-2: #ffaeb1;
    --cor-omen-vyse-2: #6ba368;
}

.itemLista{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -10px;
}

.outraItemLista{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border-radius: 3px;
    width: 50.1rem;
}

.corlistaescuro{
    background-color: var(--cor-yoru);
}

.corlistaclaro{
    background-color: var(--cor-yoru-clove-2);
}


p{
    display: flex;
    justify-content: center;
    color: var(--cor-vyse);
    width: 7rem;
}

#itemNome{
    width: 16rem;
    padding-left: 1.5rem;
    display: flex;
    justify-content: start;
}

#excluir{
    width: 1.5rem;
    height: 1.5rem;
}

i#excluir.bi.bi-x-circle-fill{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-sova);
    font-size: 18px;
    margin-left: 5px;
}