:root{
    --caixa-alta: "New Amsterdam", sans-serif;
    --cursiva: "Imperial Script", cursive;
    --fonte-padrao: "Questrial", sans-serif;

    --cor-sova: #9ca3db;
    --cor-yoru: #9b94d5;
    --cor-reyna: #55286f;
    --cor-vyse: #673c90;
    --cor-omen: #52489c;
    --cor-clove: #d8b4e2;
    --cor-jett: #f4ebd9;
}

.itemLista{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.outraItemLista{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border-radius: 3px;
    width: 50rem;
    background-color: var(--cor-yoru);
}


p{
    color: var(--cor-vyse);
    width: 6rem;
}

#itemNome{
    width: 15rem;
    padding-left: .3125rem;
}

#excluir{
    width: 1.5rem;
    height: 1.5rem;
}

i#excluir.bi.bi-x-circle-fill{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-sova);
}