@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Cinzel:wght@400..900&family=Imperial+Script&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --caixa-alta: "New Amsterdam", sans-serif;
    --cursiva: "Imperial Script", cursive;
    --fonte-padrao: "Questrial", sans-serif;

    --cor-sova: #9ca3db;
    --cor-yoru: #9b94d5;
    --cor-reyna: #55286f;
    --cor-vyse: #673c90;
    --cor-omen: #52489c;
    --cor-clove: #d8b4e2;
    --cor-jett: #f4ebd9;

    --cor-yoru-clove-2: #ffaeb1;
    --cor-omen-vyse-2: #6ba368;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-cor-escura{
    transition: 0.5s;
    background-color: var(--cor-reyna);
}

.container-cor-clara{
    transition: 0.5s;
    background-color: var(--cor-jett);
}

.box-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 1.5rem;
    width: 12rem;
}

#titulo-cursiva{
    font-family: var(--cursiva);
    font-weight: 200;
    font-size: 35px;
}

.titulo-cursivaCLARO{
    color: var(--cor-sova);
}

.titulo-cursivaCLARO{
    color: var(--cor-sova);
}



#titulo-caixaalta{
    font-family: var(--caixa-alta);
    font-weight: 900;
    font-style: italic;
    line-height: 5px;
    font-size: 30px;
    letter-spacing: -2px;
    
}

.titulo-caixaaltaESCURO{
    color: var(--cor-clove);
}

.titulo-caixaaltaCLARO{
    color: var(--cor-vyse);
}


i.bi.bi-brightness-high-fill{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
    margin-top: 2.2rem;
}

i.bi.bi-brightness-high-fill::before{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.botaoluzescuro{
    color: var(--cor-reyna);
}

.botaoluzclaro{
    color: var(--cor-jett);
}

.boxcabecalho{
    display: flex;
    justify-content: center;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1.5rem;
    margin-right: 27px;
    width: 50rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 2rem;
    margin-bottom: -20px;
}

.cabecalho #primeirofilho{
    margin-left: 1.5rem;
}

.cabecalho #segundofilho{
    margin-left: 7.8rem;
}

.cabecalho #terceirofilho{
    margin-right: 2rem;
}

.cabecalhoCLARO{
    background-color: var(--cor-vyse);
}

.cabecalhoCLARO h2{
    color: var(--cor-clove);
    font-family: var(--fonte-padrao);
}

.cabecalhoESCURO{
    background-color: var(--cor-omen-vyse-2);
}

.gastos{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin-top: 1.5rem;
}

.botao{
    border: none;
    border-radius: 3px;
    padding: 1px;
    cursor: pointer;
    transition: 0.2s;
}

.botao:hover{
    padding: 3px;
}

/* aq pra cima é o botao do excluir blz? */

.botaoCriar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.25rem;
    height: 2rem;
    margin: 1.5rem;
    margin-left: 4rem;
    font-size: 13px;
    font-family: var(--fonte-padrao);
    border-radius: 15px;
    background-color: var(--cor-sova);
    color: var(--cor-jett);
    font-weight: bold;
    letter-spacing: 0.5px;
}

.botaoCriar span{
    font-size: 25px;
    margin-left: 5px;
    color: var(--cor-reyna);
}

.CriarFiltroCambio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#filtroTotalCambio{
    display: flex;
    justify-content: center;
}

.total{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 3rem;
    border-radius: 2rem;
}

.totalESCURO{
    background-color: var(--cor-yoru-clove-2);
    color: var(--cor-jett);

}

.totalESCURO p{
    color: var(--cor-jett);
}

.totalCLARO{
    background-color: var(--cor-jett);
    
}

.totalCLARO p{
    color: var(--cor-omen);
    
}

.total p{
    font-family: var(--cursiva);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.containertotal{
    position: fixed;
    bottom: 5%;
    left: 43%;
}

select{
    border-radius: 30px;
}