*{
    padding: 0;
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.listaGasto{
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}