.itemLista{
    width: 50rem;
    height: auto;
    border-color: blue ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


p{
    color: blueviolet;
    width: 6rem;
}

#itemNome{
    width: 15rem;
}

.excluir{
    width: 1rem;
    height: 1rem;
    text-align: center;
}